
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-5 imgart">
                        <a data-fancybox="galeriaProd" href="/images/{{articulos.imagen}}">
                            <img src="/images/{{articulos.imagen}}" class="img-fluid w-100" alt="">
                        </a>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="card-body">
                    <h2 class="card-title">{{articulos.nombre}}</h2>
                    <p class="card-text">{{articulos.descripcion}}</p>
                    <hr>
                    <h3 class="card-text">$ {{articulos.precio}}.-</h3>
                    <a href="/contacto">
                        <button class="btn btn-warning">Me Interesa</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>